<nav class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
 
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
 
      <!-- Be sure to leave the brand out there if you want it shown -->
      <%= link_to Rails.application.config.application_name, root_path, class: "navbar-brand" %>
      <!-- Everything you want hidden at 940px or less, place within here -->

      <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav navbar-right">
          <%= render 'layouts/navigation_links' %>
        </ul>
      </div>
      
    </div>
  </div>
</nav>